html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans JP", sans-serif;
}

img {
  display: inline-block;
}

ul {
  display: block;
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

ol {
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

li {
  font-size: 1.4rem;
  list-style: none;
}

a {
  text-decoration: none;
  color: #121212;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.header {
  position: fixed;
  height: 100vh;
  width: 300px;
  background-color: #fff;
  padding: 40px 50px 30px 45px;
}
.header_menu_logo {
  margin-bottom: 30px;
}
.header_menu_nav ul {
  margin-bottom: 40px;
}
.header_menu_nav li {
  padding: 8px 0;
}
.header_menu_nav li:last-child {
  margin-bottom: 0;
}

.container {
  position: relative;
  left: 300px;
  width: calc(100% - 300px);
  overflow: auto;
}
.container_video {
  height: 80vh;
  overflow: hidden;
}
.container_video_area {
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  left: 300px;
  bottom: 0;
  overflow: hidden;
}
.container_video_area video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container_project {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}
.container_project_wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding: 80px 20px;
}
.container_project_wrapper_title {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  position: relative;
}
.container_project_wrapper_title h2 {
  display: inline-block;
  font-size: 2.8rem;
  font-weight: bold;
  color: white;
}
.container_project_wrapper_title h2::before,
.container_project_wrapper_title h2::after {
  content: "";
  position: absolute;
  top: 50%;
  display: inline-block;
  background-color: white;
  height: 1px;
  width: 28%;
}
.container_project_wrapper_title h2::before {
  left: 0;
}
.container_project_wrapper_title h2::after {
  right: 0;
}
.container_project_wrapper_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.container_project_wrapper_list_img {
  position: relative;
  width: 47%;
  height: auto;
  border: solid 1px #fff;
  margin-bottom: 50px;
}
.container_project_wrapper_list_img a::after {
  content: "";
  box-shadow: 0 -30px 15px -1px #2e2e2e inset;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.container_project_wrapper_list_img p {
  position: absolute;
  color: #fff;
  font-size: 1.2rem;
  left: 7px;
  bottom: 4px;
  z-index: 2;
}
.container_project_wrapper_list_img:nth-child(3), .container_project_wrapper_list_img:last-child {
  margin-bottom: 0px;
}
.container_feature {
  background-color: rgba(0, 0, 0, 0.8);
  padding-bottom: 80px;
}
.container_feature_wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding: 80px 20px;
}
.container_feature_wrapper_title {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  position: relative;
}
.container_feature_wrapper_title h2 {
  display: inline-block;
  font-size: 2.8rem;
  font-weight: bold;
  color: white;
}
.container_feature_wrapper_title h2::before,
.container_feature_wrapper_title h2::after {
  content: "";
  position: absolute;
  top: 50%;
  display: inline-block;
  background-color: white;
  height: 1px;
  width: 28%;
}
.container_feature_wrapper_title h2::before {
  left: 0;
}
.container_feature_wrapper_title h2::after {
  right: 0;
}
.container_feature_wrapper_list li {
  width: 30%;
}
.container_feature_wrapper_list li a {
  width: 100%;
  border-radius: 50%;
  border: solid 3px #fff;
  position: relative;
  overflow: hidden;
}
.container_feature_wrapper_list li::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0.3;
  left: -100%;
  transition: 0.5s;
}
.container_feature_wrapper_list li:hover::before {
  left: 0;
}
.container_feature_wrapper_list {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.container_feature_wrapper_list_item {
  text-align: center;
}
.container_feature_wrapper_list_item_text_title {
  font-weight: bold;
  font-size: 1.6rem;
  margin-bottom: 5px;
}
.container_feature_wrapper_list_item a {
  display: block;
  text-decoration: none;
  padding: 50% 0;
  margin-bottom: 15px;
  color: #fff;
}
.container_feature_wrapper_list_item p {
  color: #fff;
}
.container_flow {
  background-color: #fff;
}
.container_flow_wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding: 80px 20px;
}
.container_flow_wrapper_title {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  position: relative;
  color: #2e2e2e;
}
.container_flow_wrapper_title h2 {
  display: inline-block;
  font-size: 2.8rem;
  font-weight: bold;
  color: #121212;
}
.container_flow_wrapper_title h2::before,
.container_flow_wrapper_title h2::after {
  content: "";
  position: absolute;
  top: 50%;
  display: inline-block;
  background-color: #121212;
  height: 1px;
  width: 28%;
}
.container_flow_wrapper_title h2::before {
  left: 0;
}
.container_flow_wrapper_title h2::after {
  right: 0;
}
.container_flow_wrapper_text {
  font-size: 1.6rem;
}
.container_flow_wrapper_step {
  display: flex;
  margin-top: 60px;
}
.container_flow_wrapper_step_figure {
  position: relative;
}
.container_flow_wrapper_step_figure::before {
  content: "";
  width: 50px;
  height: 600px;
  background-color: #ffdd00;
  position: absolute;
  top: 0;
  left: 75px;
}
.container_flow_wrapper_step_figure li {
  width: 200px;
  height: 80px;
  line-height: 80px;
  background-color: #414141;
  color: #fff;
  font-size: 1.4rem;
  margin-bottom: 60px;
  position: relative;
  text-align: center;
}
.container_flow_wrapper_step_figure li::before {
  content: "";
  border-top: 30px solid #414141;
  border-right: 100px solid transparent;
  border-left: 100px solid transparent;
  position: absolute;
  top: 80px;
  right: 0;
  left: 0;
}
.container_flow_wrapper_step_description {
  margin-left: 10%;
}
.container_flow_wrapper_step_description dt {
  border-bottom: solid 1px #121212;
  font-size: 2rem;
  position: relative;
  padding-bottom: 8px;
  margin-bottom: 10px;
}
.container_flow_wrapper_step_description dt span {
  display: inline-block;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: #414141;
  text-align: center;
  color: #fff;
  font-size: 1.6rem;
  line-height: 35px;
  position: absolute;
  left: -45px;
}
.container_flow_wrapper_step_description dd {
  font-size: 1.6rem;
  margin-bottom: 44px;
}
.container_flow_wrapper_step_description dd:last-child {
  margin-bottom: 0;
}
.container_contact {
  background-color: #fff;
}
.container_contact_wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding: 80px 20px;
}
.container_contact_wrapper_title {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  position: relative;
  color: #2e2e2e;
}
.container_contact_wrapper_title h2 {
  display: inline-block;
  font-size: 2.8rem;
  font-weight: bold;
  color: #121212;
}
.container_contact_wrapper_title h2::before,
.container_contact_wrapper_title h2::after {
  content: "";
  position: absolute;
  top: 50%;
  display: inline-block;
  background-color: #121212;
  height: 1px;
  width: 28%;
}
.container_contact_wrapper_title h2::before {
  left: 0;
}
.container_contact_wrapper_title h2::after {
  right: 0;
}
.container_contact_wrapper_text {
  font-size: 1.6rem;
}
.container_contact_wrapper_link {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
}
.container_contact_wrapper_link_item {
  width: 30%;
  border: 1px solid #121212;
  text-align: center;
  padding: 50px 0;
  font-size: 1.4rem;
  position: relative;
}
.container_contact_wrapper_link_item:hover {
  outline: 3px solid #121212;
}
.container_contact_wrapper_link_item::before {
  content: "";
  border-top: 20px solid transparent;
  border-right: 20px solid #121212;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 4px;
}

.footer {
  width: calc(100% - 300px);
  position: relative;
  left: 300px;
  background-color: #121212;
  color: #fff;
  padding: 20px 0;
}
.footer_to-top {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 1px solid #fff;
  border-radius: 50%;
  position: fixed;
  bottom: 25px;
  right: 25px;
  background-color: #121212;
}
.footer_to-top::after {
  content: "";
  border-bottom: 7px solid #fff;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  position: relative;
  left: 17px;
  top: 3.5px;
}
.footer_menu {
  display: flex;
  justify-content: center;
  margin: 30px 0 60px 0;
}
.footer_menu li {
  border-right: solid 1px #fff;
  padding: 0 20px;
}
.footer_menu li:last-child {
  border-right: none;
}
.footer_menu li a {
  color: #fff;
}
.footer_copyright {
  font-size: 1.2rem;
  text-align: center;
}

@media screen and (max-width: 960px) {
  .container_project_wrapper_title h2,
.container_feature_wrapper_title h2,
.container_flow_wrapper_title h2,
.container_contact_wrapper_title h2 {
    font-size: 1.6rem;
  }
  .header {
    width: 100%;
    height: 72px;
    z-index: 10;
    padding: 0;
  }
  .header_menu {
    height: 100%;
    position: relative;
    top: 10px;
    left: 18px;
  }
  .header_menu_logo {
    width: 180px;
    position: fixed;
  }
  .header_menu_nav {
    background: #fff;
    width: 300px;
    height: 100%;
    position: fixed;
    padding: 25px;
    top: 0;
    left: -300px;
    opacity: 0;
    transition: 0.5s;
  }
  .hamburger {
    width: 30px;
    height: 30px;
    position: fixed;
    top: 24px;
    right: 18px;
    cursor: pointer;
    z-index: 99;
  }
  .hamburger span {
    width: 30px;
    height: 2px;
    background-color: #121212;
    position: relative;
    transition: ease 0.4s;
    display: block;
  }
  .hamburger span:nth-child(1) {
    top: 0;
  }
  .hamburger span:nth-child(2) {
    top: 8px;
  }
  .hamburger span:nth-child(3) {
    top: 16px;
  }
  .header_menu.open {
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
  }
  .header_menu_nav.open {
    display: block;
    left: 0;
    opacity: 1;
  }
  .hamburger.open span {
    background-color: #fff;
  }
  .hamburger.open span:nth-child(1) {
    transform: translateY(10px) rotate(-315deg);
  }
  .hamburger.open span:nth-child(2) {
    opacity: 0;
  }
  .hamburger.open span:nth-child(3) {
    transform: translateY(-10px) rotate(315deg);
  }
  .mask {
    display: none;
  }
  .mask.open {
    width: 100%;
    height: 100%;
    background-color: #000;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    top: 0;
    left: 300px;
    display: block;
    z-index: 90;
  }
  .container {
    left: 0px;
    width: 100%;
  }
  .container_video {
    height: 80vh;
  }
  .container_video_area {
    height: 520px;
    width: 95%;
    top: 72px;
    margin: 0 auto;
    left: 0;
  }
  .container_project_wrapper {
    padding: 60px 20px;
  }
  .container_project_wrapper_title {
    margin-bottom: 30px;
  }
  .container_project_wrapper_list_img {
    width: 100%;
    margin-bottom: 30px;
  }
  .container_project_wrapper_list_img:nth-child(3) {
    margin-bottom: 30px;
  }
  .container_feature {
    padding-bottom: 60px;
  }
  .container_feature_wrapper {
    padding: 60px 20px;
  }
  .container_feature_wrapper_title {
    margin-bottom: 30px;
  }
  .container_feature_wrapper_list_item a {
    padding: calc(50% - 11px) 0;
  }
  .container_flow_wrapper {
    padding: 60px 20px;
  }
  .container_flow_wrapper_title {
    margin-bottom: 30px;
  }
  .container_flow_wrapper_step {
    flex-direction: column;
    margin-top: 30px;
  }
  .container_flow_wrapper_step_figure li {
    margin-left: auto;
    margin-right: auto;
    width: calc(100vw - 80px);
  }
  .container_flow_wrapper_step_figure::before {
    left: calc((100vw - 85px) / 2);
  }
  .container_flow_wrapper_step_figure li::before {
    border-left: calc(50vw - 40px) solid transparent;
    border-right: calc(50vw - 40px) solid transparent;
  }
  .container_flow_wrapper_step_description {
    margin-left: 50px;
  }
  .container_contact_wrapper {
    padding: 60px 20px;
  }
  .container_contact_wrapper_link {
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
  }
  .container_contact_wrapper_link_item {
    width: 60%;
    margin: 20px 0 0 0;
  }
  .container_contact_wrapper_title {
    margin-bottom: 30px;
  }
  .footer {
    width: 100%;
    left: 0;
  }
}
/*# sourceMappingURL=style.css.map */